@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rajdhani", sans-serif;
} 

html,body{
    height: 100%;
    width: 100%;
    background-color: #F9F9F9;
}

.page{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container{
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-1{
    width: 350px;
    padding: 3px 5px;
    outline: none;
    margin-top: 12px;
}

.desc{
    height: 80px;
    resize: none;
}

.content{
    height: 110px;
    resize: none;
}

.btn-2{
    background-color: black;
    border-radius: 5px;
    color:white;
    padding: 5px 20px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

#error-message{
    color: red;
    font-size: 15px;
    display: none;
    margin: 10px 0;
}

@media (max-width: 600px) {
    .container {
        padding: 12px;
        width: 90%; 
    }

    .input-1 {
        width: 100% ; 
        padding: 8px;
    }

    .desc, .content {
        width: 100%;
        padding: 8px;
    }

    .btn-2 {
        padding: 8px;
        font-size: 14px; 
    }

    #error-message {
        font-size: 14px; 
    }
}
